* {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 30px;
  padding: 10px;
}
h3 {
  padding: 10px;
}
p {
  line-height: 25px;
  padding: 10px;
}
body {
  font-family: "Red Hat Display", sans-serif;
}
.main {
  background-color: #fafafa;
  padding: 20px;
}
.display {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.image {
  background-color: #1c9b880f;
}
.img {
  display: block;
  margin: auto;
}
.border {
  background-color: white;
  padding: 30px;
  width: 500px;
  margin: 20px auto;
}
@media (max-width: 500px) {
  .border {
    width: 350px;
  }
}
